.swipeButtons {
    position: fixed;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons_FavoriteIcon{
    background-color: white;
    color:tomato;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2) !important;
}

.swipeButtons_InfoIcon{
    background-color: white;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2) !important;
}

.swipeButtons_CloseIcon{
    background-color: white;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2) !important;
}